{%- extends "base.html" %}
{% block content %}
<div class="container">
  <h1 class="heading">My Favourite List</h1>
  <p class="description">Add more or delete movies</p>
    {% for movie in movies %}
  <div class="card" >
      <img src="https://image.tmdb.org/t/p/w1280/{{movie.img_url}}" alt="{{movie.title}}">
      <div>
    <div class="title">{{movie.title}} <span class="release_date">({{movie.year}})</span></div>
        <p class="overview">{{movie.description}}</p>
        <a class="btn btn-danger" href="{{ url_for('delete_movie', movie_id=movie.id) }} ">Delete</a>
      </div>
  </div>
    {% endfor %}
</div>
{% endblock %}

